<div class="grid_12">
<h1>A Few Words About Us</h1>

<p>Sigma Pi promotes fellowship, scholarship, chivalry, and character by organizing social, academic, and philanthropy events for its members and the communities in which its chapters are located. In addition, a separate, but related entity, the Sigma Pi Educational Foundation, manages trust assets for the educational benefit of both members and non-members. The Fraternity's ACE (Altruistic Campus Experience) Project is the first fraternity or sorority campus service program for chapters specifically designed to benefit their host institutions.</p>
</div>
<div class="grid_12">
<h1>Our Mission</h1>

<p>The ideals of Sigma Pi, which constitute the underlying reason for the Fraternity's rise, development, and continued existence, are as follows:</p>
	<ul>
    <li>To establish a brotherhood.</li>
    <li>To establish and maintain an aristocracy of learning.</li>
    <li>To raise the standards of morality and develop character.</li>
    <li>To diffuse culture and encourage chivalry.</li>
    <li>To promote the spirit of civic righteousness and quicken the national conscience.</li>
    </ul>

<p>It will be observed that these five objects touch upon three different phases of a man's life: his Contacts, his Concepts, and his Controls.<p>
</div>
<div class="grid_12">
<h1>The History of Sigma Pi: Delta Colony</h1>

<p>Sigma Pi Fraternity International was re-colonized at the University of Pennsylvania in October of 2007. With the help of recruitment consultants, Duane Cunningham and Douglas Finnan, eight gentlemen set forth to establish one of the most prominent fraternal establishments at the university. The Founding Eight members included: Eric Chu, Lawrence Crane-Moscowitz, Benjamin Levenback, Stephen Lieu, Jonathan McBeath, Darshak Shah, Sida Wang, and Mark Zhu. Our first Sage, Mark, led the fraternity for just over a semester while the Delta Colony of Sigma Pi doubled its size by the end of spring, 2008. This year also marked the first award won by the Colony - The Robert Lucid Award for Academic Excellence.</p>

<p>Eric Chu, then 1st Counselor of the Delta Colony, established the first chapter house at 401 S. 40th Street for the 2008-2009 school year. Elections followed and Eric was elected the 2nd Sage of Sigma Pi Fraternity. At 401, Sigma Pi grew to just over 30 members. Jonathan McBeath led Sigma Pi's first ACE Project with the University Police Athletic League while Larry Crane-Moscowitz organized the Fraternity's first mixer. The first fraternity lock-in and camping trip were established to promote bonding and brotherhood. 2009 also marked the 100th anniversary since the fraternity's first inception at the University of Pennsylvania. To celebrate, the first alumni reunion barbeque was organized perfectly by the Executive Board.</p>

<p>Today, Sigma Pi has established itself as a Fraternity that upholds its national creed by promoting scholarship, encouraging chivalry, diffusing culture and developing character in their daily lives. The Fraternity has since moved into its new chapter house at 4027 Walnut Street, where it has officially transitioned from a social fraternity to a residential fraternity on campus. Fall 2009 marks the 2 year anniversary for the colony and with it, the first scholarship program - The Joseph Morrone Alumni Scholarship Fund - was developed.</p>

<p>The Delta Colony of Sigma Pi looks to recruit only men of the highest caliber, willing to uphold its ideals and leave a legacy.</p>

<blockquote>"I Believe in Sigma Pi"</blockquote>
</div>
<div class="clear"></div>
