<div class="grid_12">
<h1>Home</h1>
<p>Sigma Pi Fraternity was founded on February 26th, 1897 at Vincennes University in Indiana. The Fraternity has grown to encompass over 120 chapters worldwide while amassing over ninety thousand brothers. The Delta Chapter of Sigma Pi was originally founded in 1909 and reestablished in October of 2007. It has been consistently growing at the prestigious university, and today, the Delta Chapter stands to become one of the prominent establishments on campus. The Delta Colony now seeks motivated gentlemen seeking to make a difference on campus. Become a founder and leave a legacy.</p>
</div>
<div class="clear"></div>
